<div class="container">
  <div class="alert alert-warning" role="alert" *ngIf=message>
   {{message}}
  </div>
<form #userForm="ngForm" (ngSubmit)="login()">
 <div class="row">
    <div class="col-md-12 mb-2">
      <label>Email</label>
      <input [(ngModel)]="email" name="email" type="email" class="form-control" required pattern="(.*@yahoo.com$)|(.*@gmail.com$)">
    </div>
  </div>

    <div class="row">
      <div class="col-md-12 mb-2">
        <label for="password">Password</label>
        <input [(ngModel)]="password" name="password" type="password" class="form-control" required minlength="6">
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <button name='Button' class="btn btn-success" type="submit" [disabled]="userForm.invalid">Login</button>
        </div>
      </div>
    </form>
    </div>